{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://unpkg.com/htmx.org@1.9.11"
		integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/style/style.css">
	<title>Tetris</title>
</head>

<body>
	{{ template "game" . }}

	<script>
		document.body.addEventListener('htmx:configRequest', (event) => {
			if (event.detail.triggeringEvent == null) {
				return // triggered by the 'every' event
			}

			event.detail.headers['action'] = event.detail.triggeringEvent.key
		})
	</script>
</body>

</html>
{{end}}
